@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/nas4aqu.css");

:root {
  --color-black: #2B2B29,
  --color-dark-gray: #403F3B,
  --color-gray: #A2A09B,
  --color-light-gray: #DBD9D3,
  --color-white: #ffffff,
  --color-light-green: #CEDED4,
  --color-green: #81BF9A,
  --color-dark-green: #649A7A,
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-black);
  font-family: "apparat", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Custom underline */
.partial-underline {
  @apply after:content-[''] after:relative after:top-1 after:hover:w-full after:transition after:transition-all after:duration-300 after:ease-in-out after:hover:left-0 after:block after:rounded after:h-1 after:bg-transparent;
}

.partial-underline-visible {
  @apply partial-underline after:bg-green
}

.partial-underline:after {
  left: 10%;
  width: 65%;
}
